.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: white;
  color: black;
}

/* Light Mode */
.button {
  background-color: #EDF2F7;
  color: #4A5568;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid #4A5568;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode */
.button.dark-mode {
  background-color: #4A5568;
  color: #EDF2F7;
  border-color: #EDF2F7;
}
